<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Document</title>
		<link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
		<script src="jquery.min.js"></script>
		<script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
		<script src="vue.js"></script>
		<script src="axios.min.js"></script>
		<script src="const.js"></script>
		<style>
			body{
            background: url(./bg.jpg) no-repeat;
            background-size:100%;  
        }
    </style>
	</head>
	<body>
		<ul class="nav navbar-nav navbar-right">
			<li><a data-toggle="modal" data-target="#register" href=""><span class="glyphicon glyphicon-user"></span> 注册</a></li>
			<li><a data-toggle="modal" data-target="#login" href=""><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
		</ul>
		<!-- 注册窗口 -->
		<div id="register" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-title">
						<h1 class="text-center">注册</h1>
					</div>
					<div class="modal-body">
						<form class="form-group" action="">
							<div class="form-group">
								<label for="">学工号</label>
								<input class="form-control" type="text" placeholder="" v-model="sno">
							</div>
							<div class="form-group">
								<label for="">昵称</label>
								<input class="form-control" type="text" placeholder="" v-model="userName">
							</div>
							<div class="form-group">
								<label for="">电话号</label>
								<input class="form-control" type="text" placeholder="" v-model="phoneNumber">
							</div>
							<div class="form-group">
								<label for="">密码</label>
								<input class="form-control" type="password" placeholder="" v-model="password">
							</div>
							<div class="text-right">
								<button class="btn btn-primary" type="button" v-on:click="registerF">提交</button>
								<button class="btn btn-danger" data-dismiss="modal">取消</button>
							</div>
							<a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 登录窗口 -->
		<div id="login" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-title">
						<h1 class="text-center">登录</h1>
					</div>
					<div class="modal-body">
						<form class="form-group" action="">
							<div class="form-group">
								<label for="">学工号</label>
								<input class="form-control" type="text" placeholder="" v-model="sno">
							</div>
							<div class="form-group">
								<label for="">密码</label>
								<input class="form-control" type="password" placeholder="" v-model="password">
							</div>
							<div class="text-right">
								<button class="btn btn-primary" type="button" v-on:click="loginF">登录</button>
								<button class="btn btn-danger" data-dismiss="modal">取消</button>
							</div>
							<a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		<!-- 登录 -->
		var configLogin={
			"el":"#login",
			"data":{
				"sno":"",
				"password":""
			},
			"methods":{
				"loginF":function(){
					var url=serverUrl+"/login?password="+this.password
										+"&sno="+this.sno
					//用axios去联网
					axios.get(url)
					.then(function(response){
						window.alert(response.data.msg)
						if(response.data.data != -1){
							var usersno = response.data.data;
							window.sessionStorage["sno"] = usersno
							location.href="studentDetails.html?sno="+usersno
						}
					})
					.catch(function(e){
						console.log(e)
						window.alert("联网出错")
					})
				}
			}
		}
		var vueLogin = new Vue(configLogin)
		
		<!-- 注册 -->
		var configRegister={
			"el":"#register",
			"data":{
				"sno":"",
				"password":"",
				"phoneNumber":"",
				"userName":""
			},
			"mounted":{
				"registerF":function(){
					var url=serverUrl+"/register?password="+this.password
					+"&phoneNumber="+this.phoneNumber
					+"&sno="+this.sno
					+"&userName="+this.userName
					//用axios去联网
					axios.get(url)
					.then(function(response){
						window.alert(response.data.msg)
						if(response.data.data != -1){
							var usersno = response.data.data;
							window.sessionStorage["sno"] = usersno
							location.href="studentDetails.html?sno="+usersno
						}
					})
					.catch(function(e){
						console.log(e)
						window.alert("联网出错")
					})
				}
			}
		}
		var vueRegister = new Vue(configRegister)
	</script>
</html>
